/* Add custom home icon */

.homeIcon-r0w4ny {
  display: none;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub {
  background-color: transparent;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub:before {
  position: absolute;
  content: " ";
  width: 45px; 
  height: 45px; 
  background-image: url('https://avatars.githubusercontent.com/u/148661918?s=96&v=4');
  background-size: contain;
}